<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<div class="thumbnail">
  <%= image_tag("about/about_pic.png", :alt => "rss feed") %>
  <p style="text-align:center">2012 Graduation Reception in Heart Mining Memorial Building at UC Berkeley.</p>
</div>
<p>
  I'm a technology enthusiast who previously specialized in semiconductor technology and now specializes in computer software.
  I've made this page to present my various projects, and aggregate my social networks. Please check out my <a href="http://facebook.com/anand.sampat">Facebook</a>,
  <a href="http://twitter.com/AnandSampat">Twitter</a> (please follow if they're interesting), and <a href="http://www.linkedin.com/in/anandsampat">LinkedIn</a> (feel free to connect).
  Also check out my <a href="http://anandsampat.com">blog</a> where I'll share my thoughts, my insights, and interesting articles on everything from consumer electronics, Bollywood, books, and life.
  I invite my readers to share their thoughts and comments - the more the merrier.
</p>