<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<h2>Hardware</h2>
<ul class="thumbnails">
  <li class="span6">
    <a href="https://docs.google.com/file/d/0B_j1yTxBbZYAaFg4OERfTWxwR0U/edit" class="thumbnail">
      <%= image_tag("projects/Berkeley_MS_Thesis.png", alt: "E-k diagram for graphene", size: "300x300") %>
      <h2>
        Berkeley MS Thesis - Molecular Beam Epitaxy of Graphene on Gold Foils
      </h2>
      <p style="text-align:left">My thesis on the growth of graphene films on gold foils and a correlation of growth parameters to
        mechanical and electrical characteristics.
      </p>
    <a>
  </li>
  <li class="span6">

    <a href="https://docs.google.com/file/d/0B_j1yTxBbZYALXVMN210aU9mODQ/" class="thumbnail">
      <%= image_tag("projects/pentacene_transistor.png", alt: "cross-section of pentacene bottom gate transistor", size: "300x300") %>
      <h2>
        An Analytical Model for Switching Speed in an all Ink-Jet Printed Self-Aligned Pentacene Inverter
      </h2>
      <p style="text-align:left">
        My research project creating an analytical model for the switching speed of an inverter built using pentacene bottom gate organic transistors.
      </p>
    <a>

  </li>
</ul>

<h2>Software</h2>

<ul class="thumbnails">
  <li class="span6">
    <a href="https://github.com/asampat3090/one_pager" class="thumbnail">
      <%= image_tag("projects/one_pager_icon.png", alt: "one pager summary list icon", size: "300x300") %>
      <h2>
        Basic Django Web App (not deployed) - Create a One-Pager
      </h2>
      <p style="text-align:left">Just a small web app to create a one-pager summarizing the tasks and meetings completed over the past week - it still has a long ways to go.
      </p>
      <a>
  </li>
  <li class="span6">
    <a href="https://github.com/asampat3090/xkcd_screensaver_for_kindle" class="thumbnail">
      <%= image_tag("projects/kindle-xkcd.jpeg", alt: "xkcd on kindle screensaver icon", size: "300x300") %>
      <h2>
        xkcd for Kindle Keyboard Screensavers
      </h2>
      <p style="text-align:left">
        Script to scrape xkcd for most recent comments and saves images in folder for transfer to kindle. Will turn this into a web app/add-on soon. Also, will add documentation to add it to kindle as screensaver.
      </p>
    <a>
  </li>
</ul>

<p>

</p>