<% provide(:title, 'Articles') %>
<% load_reading_feed %>

<h1>My Current Reading</h1>
<div id="articles"><%= render partial: 'articles' %></div>
<% if params[:page].to_i==0 %>
<% params[:page]=1 %>
<% end %>
<%= link_to 'Load More', reading_path(page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 5), class: 'hook', remote: true %>


<!--
<div id="articles">
	<%#= render partial: "articles" %>
</div>
<h4 class="text-center"><%#= will_paginate @articles %></h4>
-->